body {
  background-color: #f4f2ef;
  margin: 50px;
  color: #4b4746;
}

.main {
  text-align: center;
  background-color: #eeebe6;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  max-width: 600px;
}

.main-city {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
}

.container-search {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.search-input {
  color: #4b4746;
  background-color: #eeebe6;
  border: solid 1px #919c9d;
  border-radius: 7px;
  padding: 7px;
  margin-right: 5px;
  flex-grow: 5;
}

.search-input:focus {
  border: #4b4746;
  box-shadow: 5px 5px 15px rgb(223, 223, 223);
}

.search-button {
  color: #4b4746;
  font-size: 18px;
  margin: 0px auto;
  margin-right: 5px;
  display: block;
  background-color: #eeebe6;
  border: 1px solid #919c9d;
  border-radius: 7px;
  transition: all 150ms ease-in-out;
  flex-grow: 1;
}

.search-button:hover {
  color: #eeebe6;
  background-color: #919c9d;
  box-shadow: 5px 5px 15px rgb(223, 223, 223);
}

.date {
  font-size: 24px;
  color: #919c9d;
}

.main-icon {
  width: 120px;
  padding: 10px;
  margin: 20px 0 20px 0;
}

.temperature {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.units {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

.current-temp {
  font-size: 52px;
  padding-left: 25px;
}

.current-weather {
  font-size: 30px;
}

.weather-condition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.humidity {
  margin: 10px 5px 20px 5px;
  color: #919c9d;
  font-size: 14px;
}

.wind {
  margin: 10px 5px 20px 5px;
  color: #919c9d;
  font-size: 14px;
}

.next-days{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding-left: 0;

}

.forecast-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  margin: 15px 0;
  padding: 15px 0;
  color: #4b4746;
  background-color: #f4f2ef;
  border: solid 0px #919c9d;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.forecast-day:hover {
  background-color: #919c9d;
  color: #f4f2ef;
  border: 0px #919c9d;
  cursor: default;
}

.forecast-temperatures{
  display: flex;
  flex-direction: row;
}

.forecast-temperature{
  padding: 0 10px 0 0;
}

.footnote {
  font-size: 12px;
  text-align: center;
  color: #919c9d;
  margin-top: 20px;
}

a {
  color: #4b4746;
  text-decoration: none;
}
